@mixin flexCenter($direction: column, $content: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin btnCustom {
  background-color: $--btn--clr--bg;
  margin: 0 $--margin--padding--1;
  letter-spacing: 3px;
  color: $--btn--clr--text;
}

.Link{
  text-decoration: none;
}

@mixin mainBackground {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgb(66, 66, 66) 50%, rgba(0, 0, 0, 1) 90%);
}

@mixin detailBackground {
  @include mainBackground;
  color: $--btn--clr--text;
  font-family: $--ff--primary;
  width: 100%;
}

