@mixin flexCenter($direction: column, $content: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin btnCustom {
  background-color: $--btn--clr--bg;
  margin: 0 $--margin--padding--1;
  letter-spacing: 3px;
  color: $--btn--clr--text;
}

.Link{
  text-decoration: none;
}