.carrousel-main {
  outline: 4px solid blue;
  overflow: hidden;

  .image-container {
    position: relative;
    
    .carrousel-image {
      object-fit: contain;
    }
    .carrousel-caption{
      position: absolute;
      top: 3rem;
    }

  }

  @media (max-width: 1400px){
    height: (1400px / 3);
  }
  @media (max-width: 1000px){
    height: (1000px / 3);
  }
    
  @media (max-width:700px){
    height: (700px / 3);
  }
    
  @media (max-width: 400px){
    height: (400px / 3);
  }
    
    
}