@import '../Styles/mixins';
@import '../Styles/fonts';
@import '../Styles/variables';

.list-container {
  @include mainBackground;
  width: 100%;
  // outline: 4px solid orange;
  padding: $--margin--padding--4;
  font-family: $--ff--primary;

  .horizontal-list-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: $--margin--padding--2;
    font-weight: 700;
    color: $--btn--clr--text;
  }

  .list-items-container {
    @include flexCenter($direction: row, $content: flex-start);
    align-items: flex-start;
    gap: $--margin--padding--2;
    overflow-x: scroll;
    scrollbar-gutter: stable;
  }

  .list-items-container::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-width: 40px;
    height: 40px;
  }

  .list-items-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  .list-items-container::-webkit-scrollbar-thumb {
    background: #d4d270;
    border: 10px solid transparent;
    border-radius: 20px;
    background-clip: content-box;
  }

  .list-items-container::-webkit-scrollbar-thumb:hover {
    background-color: #5749d2;
  }

}