@import '../Styles/mixins';
@import '../Styles/fonts';
@import '../Styles/variables';

.main-container {
  @include flexCenter;
  background-color: grey;
  font-family: $--ff--primary;

  .carrousel-container {
    width: 100%;
    overflow: hidden;
  }

}