@import '../Styles/mixins';
@import '../Styles/fonts';
@import '../Styles/variables';

.main-container {
  @include flexCenter;
  background-color: grey;
  font-family: $--ff--primary;
  font-weight: 900;
  outline: 13px solid blue;

  .carrousel {
    @include flexCenter;
    height: 50px;
  }

 

}