@import '../Styles/mixins';
@import '../Styles/fonts';
@import '../Styles/variables';

.detail-similar {
 @include flexCenter($direction: row, $align: flex-start);
 @include detailBackground;
 flex-wrap: wrap;
 gap: $--margin--padding--2;
 padding: $--margin--padding--1;
 min-height: 50vh;

}