@import '../Styles/mixins';
@import '../Styles/fonts';
@import '../Styles/variables';

.detail-cast {
 @include flexCenter($direction: row, $align: flex-start);
 @include detailBackground;
 flex-wrap: wrap;
 gap: $--margin--padding--2;
 padding: $--margin--padding--1;



 article {
  font-family: $--ff--primary ;
  width: 225px;
  flex-shrink: 0;
  
  .detail-cast-image-container {
   overflow: hidden;

   .poster-image {
    width: 100%;
    outline: 2px solid red;
    height: 335px;
   }

  }

  .title,
  .title-name {
   width: 100%;
   text-align: center;
   color: $--btn--clr--text;
   background-color: rgba($color: black, $alpha: .7);
   padding: $--margin--padding--1;
   border-radius: 4px;
   line-height: 20px;
   text-transform: uppercase;
  }

  .title-name {
   text-transform: none;
   background-color: rgba($color: rgb(94, 94, 94), $alpha: .5);
  }

  &:hover {
   .poster-image {
    width: 100%;
    outline: 12px solid red;
    height: 335px;
    transform: scale(105%);
    transition: all .25s;

   }
  }
 }



}