@import '../Styles/mixins';
@import '../Styles/fonts';
@import '../Styles/variables';

.main-container-movie-detail {
  // position: relative;
  @include flexCenter($direction: column);
  font-family: $--ff--primary;

  .movie-detail-background {
    // position: relative;
    width: 100%;
    margin-bottom: -3px;
    // height: 85vh;
    overflow: hidden;
    // object-fit: ;
    
    img {
      // position: absolute;
      // outline: 2px solid red;
      width: 100%;
      // height: 300px;
      // top: -30%;
      height: 100%;
      transform: scale(125%);
      // object-position: 60% 1%;
      // transform: translateY(-12%);
    }
  }

  .details-links {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgb(66, 66, 66) 50%, rgba(0, 0, 0, 1) 90%);
    width: 100%;
    font-size: 1.5rem;
    // margin-top: -3px;

    ul {
      @include flexCenter($direction: row);
      gap: $--margin--padding--4;

      li {
        padding: $--margin--padding--2;
        text-transform: uppercase;

        .detail-link {
          font-weight: 500;
          color: $--btn--clr--text;
          text-decoration: none;
        }

      }
    }
  }


}