@import '../Styles/fonts';
@import '../Styles/variables';
@import '../Styles/mixins';

nav {
 @include flexCenter($direction: row, $content: flex-start);
 position: relative;
 padding: $--margin--padding--2;
 background-image: url('../images/pngegg.png');
 background-color: rgba($color: #000000, $alpha: .7);
 background-repeat: repeat-x;
 background-size: contain;
 font-family: $--ff--primary;
 font-weight: 600;

 .input-search-wrap {
  @include flexCenter($direction: row, $content: flex-start);
  background-color: $--btn--clr--bg;
  border-radius: 4px;
  margin: 0 $--margin--padding--1;

  .input-search {
   letter-spacing: 2px;
   color: $--btn--clr--text;
   font-family: $--ff--primary;
  }

  .input-icon {
   color: $--btn--clr--text;
  }
 }

 ul {
  @include flexCenter($direction: row, $content: flex-start);

  .btn-custom {
   @include btnCustom;
  }
 }

 @media (max-width: 750px) {
  .link-icon {
   display: none;
  }
 }

 @media (max-width: 650px) {
  .link-icon {
   display: block;
  }

  .link-name {
   display: none;
  }

  .input-search-wrap {

   .input-search {
    width: 65%;
   }

   .input-icon {
    width: 40px;
    margin-right: 0px;
   }

  }
 }

 @media (max-width: 400px) {
  .input-search-wrap {

   .input-search {
    width: 65%;
   }

   .input-icon {
    width: 35px;
   }

  }

 }

 @media (max-width: 386px) {
  .input-search-wrap {
   .input-search {
    width: 60%;
   }

   .input-icon {
    width: 40px;
   }

  }

 }
}